/* header */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap');
/* About Me body */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
*{
    margin: 0rem;
    padding:0rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Header */
header{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   animation: animate 16s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        background-image: linear-gradient(rgba(172, 161, 161, 0.50),rgba(172, 161, 161, 0.50)), url(images/image9.JPG);
    }
    33%{
        background-image: linear-gradient(rgba(172, 161, 161, 0.50),rgba(172, 161, 161, 0.50)), url(images/image2.jpg);
    }
    66%{
        background-image: linear-gradient(rgba(172, 161, 161, 0.50),rgba(172, 161, 161, 0.50)), url(images/image4.jpg);
    }
}
.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.header-text h1{
    font-size: 3rem;
    color:rgb(255, 255, 255);
    font-family: 'Rowdies', cursive;
    font-weight: 400;
    border-left: 10px solid rgb(255,255,255);
    border-bottom: 5px solid rgb(255,255,255);
    padding: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.header-text h1 a{
    text-decoration: none;
    color: white;
    font-size: 15px !important;
}
.header-text h1:hover{
    border-right: 10px solid rgb(255,255,255);
    border-top: 5px solid rgb(255,255,255);
    border-bottom: transparent;
    border-left: transparent;
}
/* Navbar */
nav{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}  
.nav-container{
    font-family: 'Rowdies', cursive;
    font-weight: 300;
    font-size: 15px;
}
.nav-container ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    align-content: center;
}
.nav-container ul li p{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin: 0px 20px;
    transition: 0.2s ease;
}
.nav-container ul li a{
    text-decoration: none;
}
.nav-container ul li p:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}
/* Main Section */
main{
    min-height: 1080px; 
    background-image:linear-gradient(rgba(172, 161, 161, 0.70),rgba(172, 161, 161, 0.70)), url(images/image3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main .about-section{
    padding-top: 5rem;
}
main .about-section .about-header{
    display: flex;
    justify-content: center;
}
main .about-section .about-header h1{
    font-size: 2rem;
    border: 2px solid black;
    padding: 15px;
    cursor:pointer;
    font-family: 'Rowdies', cursive;
    font-weight: 300;
}
main .about-section .about-nav{
    margin-top: 4rem;
}
main .about-section .about-nav ul{
    display: flex;
    justify-content: center;
}
main .about-section .about-nav ul li{
    list-style: none;
}
main .about-section .about-nav ul li a{
    text-decoration: none;
    font-family: 'Rowdies', cursive;
    font-weight: 300;
}
main .about-section .about-nav ul li p{
    margin: 0px 1rem;
    padding: 15px;
    font-size: 2rem;
    background-color: black;
    color: white;
    border: 3px solid rgb(70, 67, 67);
}
main .about-section .about-nav ul li p:hover{
    background-color: white;
    color: black;
    border: 3px solid rgb(70, 67, 67);
}
.about-nav .active{
    background-color: white !important;
    color: black !important;
    border: 3px solid rgb(70, 67, 67) !important;
}
.abt-bdy{
    display: none;
    overflow: hidden;
}
.about-body .active-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.abt-bdy-hdr{
    font-family: 'Rowdies', cursive;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 2rem 3rem 2rem 3rem;
    padding: 1rem;
}
.abt-bdy-main{
    font-family: 'Sacramento','cursive';
    padding: 4rem;
    font-size: 2rem;
    text-align: center;
}
 /* Footer */
.footer-part{
    background-color: rgb(38, 49, 68);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rowdies', cursive;
}
.my-image{
    display: flex;
    justify-content: center;
    margin:2rem 0rem;
}
.my-image img{
    border: 2px solid black;
}
.Social-Media-Links ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.Social-Media-Links ul li .fa{
    border: 1px solid black ;
    padding: 12px;
    font-size: 25px;
    margin:0rem 1rem ;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}
.fa-facebook{
    padding: 12px 16px !important;
}
.direct{
    padding: 14px 8px !important;
    font-size: 20px !important;
    font-weight:bold !important;
    font-family: 'Rowdies' !important;
}
.Social-Media-Links ul li a{
    color: black;
    text-decoration: none;
}
.Social-Media-Links ul li .fa-facebook:hover{
    background-color: rgb(59, 89, 152);
    border: 1px solid white;
}
.Social-Media-Links ul li .fa-instagram:hover{
    background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);;
    border: 1px solid white;
}
.Social-Media-Links ul li .fa-linkedin:hover{
    background-color: rgb(14, 118, 168);
    border: 1px solid white;
}
.Social-Media-Links ul li .fa-google:hover{
    background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
    border: 1px solid white;
}
.Social-Media-Links ul li .direct:hover{
    background-color: black;
    color: blanchedalmond;
    border: 1px solid white;
}
.connected{
    font-size: 30px;
    margin-bottom: 1rem;
    cursor: crosshair;
}
.top{
    padding-bottom: 6px;
    text-align: center;
}
.top p span{
    font-size: 24px;
    font-weight: 300;
}